html {
	font-size: 62.5%;
	@media screen and (max-width: 750px) {
		font-size: 55%;		
	}
	@media screen and (min-width: 1000px) {
		font-size: 75%;		
	}
	-webkit-transition: all 1.6ms ease-in;
	   -moz-transition: all 1.6ms ease-in;
	    -ms-transition: all 1.6ms ease-in;
	     -o-transition: all 1.6ms ease-in;
	        transition: all 1.6ms ease-in;
}

body {
	color: $base-color;
	font-family: $base-font;
	@include font-size(1.6);
	line-height: $base-line-height;
	word-spacing: $word-spacing;
	letter-spacing: $letter-spacing;
}

a {
	color: $link-color;
	text-decoration: none;
	&:hover { 
		color: $hover-color;
	}

	&:active { 
		color: $active-color;

	}
	&:visited { 
		color: $visited-color;

	}
	&:focus { 
		color: $link-color;

	}
}

h1 {
	@include font-size(2.4);
	color: $heading-color;
}

h2 {
	@include font-size(1.6);
	font-weight: bold;
	color: $heading-color;
}

p {
	@include trailer();
}

::-moz-selection {background: $selected-background; color:$selected-color; text-shadow:none;}
::selection {background: $selected-background; color:$selected-color; text-shadow:none;}
